{% extends "documents/base_doc.html" %}
{% block content %}
{% if legal_entity %}
<p style="text-align:right; font-size:10pt;">
  Приложение № 3 к {{ legal_entity.contract_type.dative }} № {{ legal_entity.contract_number }}
</p>
{% endif %}

<h2 style="font-size:13pt; margin-bottom:4px;">ПРОТОКОЛ</h2>
<p style="text-align:center; font-size:11pt; margin-top:0;">
  согласования договорной цены на стоимость охраны
</p>
{% if legal_entity %}
<p style="text-align:center; font-size:12pt; font-weight:bold;">
  {{ legal_entity.name }}
</p>
{% endif %}

<br>
<p>
  1. Мы, нижеподписавшиеся, от {{ settings.org_name if settings else 'Ревдинский ОВО' }}
  {{ settings.chief_title | lower if settings else 'начальник' }} {{ settings.chief_name if settings else '' }}
  и от {{ legal_entity.name if legal_entity else '' }}
  <br><br>
  <u style="display:inline-block; width:70%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
</p>
<p>
  удостоверяем, что сторонами достигнуто соглашение о стоимости часа охраны в размере:
</p>

<table style="font-size:11pt; width:80%; margin: 10px 0;">
  <thead>
    <tr>
      <th style="text-align:left;">Вид охраны</th>
      <th style="text-align:right; width:160px;">Тариф за 1 час охраны</th>
      <th style="text-align:right; width:100px;">Стоимость</th>
    </tr>
  </thead>
  <tbody>
    {% for svc in services %}
    <tr>
      <td>{{ svc.service_type.value }}</td>
      <td style="text-align:right; font-weight:bold;">{{ '%.2f'|format(svc.tariff) }}</td>
      <td style="text-align:right; font-weight:bold;">{{ '%.2f'|format(svc.monthly_sum) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>
<p>2. Протокол является неотъемлемой частью договора.</p>

<br><br>
<table style="width:100%; border:none; margin-top:80px; font-size:10pt;">
  <tr>
    <td style="border:none; width:50%; vertical-align:top;">
      "УТВЕРЖДАЮ"<br>
      {{ settings.chief_title if settings else 'Начальник' }}<br>
      <br><br><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
      ({{ settings.chief_name if settings else '' }})<br><br>
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 20___ г.
    </td>
    <td style="border:none; width:50%; vertical-align:top; padding-left:20%;">
      "УТВЕРЖДАЮ"<br>
      {{ legal_entity.name if legal_entity else '' }}<br>
      <br><br><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
      ({{ obj.signatory }})<br><br>
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 20___ г.
    </td>
  </tr>
</table>
{% endblock %}
