{% extends "documents/base_doc.html" %}
{% block content %}
{% if legal_entity %}
<p style="text-align:right; font-size:10pt;">
  Приложение № 2 к {{ legal_entity.contract_type }} № {{ legal_entity.contract_number }}
</p>
<p style="text-align:right; font-size:9pt; margin-top:0;">
  Оплата по данному расчёту с "___" _____________ 20___ г.
</p>
{% endif %}

<h2 style="font-size:13pt; margin-bottom:4px;">Р А С Ч Е Т</h2>
<p style="text-align:center; font-size:10pt; margin-top:0;">
  на охрану объектов {{ settings.org_name if settings else '' }}
</p>
{% if legal_entity %}
<p style="text-align:center; font-size:11pt; font-weight:bold;">
  {{ legal_entity.name }}
</p>
{% endif %}

<table style="font-size:9pt; width:100%;">
  <thead>
    <tr>
      <th rowspan="2" style="width:18%">Наименование объекта, обособленного помещения</th>
      <th rowspan="2" style="width:12%">сигнализация</th>
      <th colspan="3">Продолжительность охраны в сутки часов</th>
      <th colspan="3">Кол-во календарных дней</th>
      <th rowspan="2" style="width:8%">Всего часов</th>
      <th rowspan="2" style="width:9%">Стоимость охраны объекта за 1 час</th>
      <th rowspan="2" style="width:10%">Принимается ОВО за охрану за 1 месяц</th>
    </tr>
    <tr>
      <th>в рабочие дни</th>
      <th>в предпразд. предвых. дни</th>
      <th>в выходные дни</th>
      <th>в рабочие дни</th>
      <th>в предпразд. предвых. дни</th>
      <th>в выходные дни</th>
    </tr>
  </thead>
  <tbody>
    {% for svc in services %}
    {% set sch = svc.schedule %}
    <tr>
      {% if loop.first %}
      <td rowspan="{{ services|length }}">{{ obj.name }}</td>
      {% endif %}
      <td>Тревожная {{ svc.service_type.value }} пост Охраны</td>
      <td class="center">{{ '%.2f'|format(sch.workday_hours) if sch else '' }}</td>
      <td class="center">{{ '%.2f'|format(sch.preholiday_hours) if sch else '' }}</td>
      <td class="center">{{ '%.2f'|format(sch.holiday_hours) if sch else '' }}</td>
      <td class="center">{{ sch.workday_count if sch else '' }}</td>
      <td class="center">{{ sch.preholiday_count if sch else '' }}</td>
      <td class="center">{{ sch.holiday_count if sch else '' }}</td>
      <td class="center">{{ '%.1f'|format(sch.total_hours) if sch else '' }}</td>
      <td class="center">{{ '%.2f'|format(svc.tariff) }}</td>
      <td class="center">{{ '%.2f'|format(svc.monthly_sum) }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="10" style="text-align:right; font-weight:bold;">Всего за охрану .........................</td>
      <td class="center" style="font-weight:bold;">
        {{ '%.2f'|format(services|sum(attribute='monthly_sum')) }}
      </td>
    </tr>
  </tbody>
</table>

<br>
<table style="width:100%; border:none; margin-top:30px; font-size:10pt;">
  <tr>
    <td style="border:none; width:50%; vertical-align:top;">
      "УТВЕРЖДАЮ"<br>
      {{ settings.chief_title if settings else 'Начальник' }}<br><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
      ({{ settings.chief_name if settings else '' }})<br>
      "&nbsp;&nbsp;&nbsp;" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 20___ г.
    </td>
    <td style="border:none; width:50%; vertical-align:top;">
      "УТВЕРЖДАЮ"<br>
      {{ legal_entity.name if legal_entity else '' }}<br><br>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
      ({{ obj.signatory }})<br>
      "&nbsp;&nbsp;&nbsp;" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 20___ г.
    </td>
  </tr>
</table>
{% endblock %}
